




#tabla td{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#inferior{
    display: table;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    mArgin-right: auto;
}


